PORT=5000
DATABASE_URL=postgresql://postgres.xaxzmvkfmydjwgbywpkh:Crccamerasecurity123456@aws-1-eu-central-1.pooler.supabase.com:6543/postgres
CLIENT_URL=http://localhost:3000,https://crc-camera-security.netlify.app
NODE_ENV=development